.box {
  width: 200px; height: 300px;
  position: relative;
  border: 1px solid #BBB;
  background: #EEE;
}
.ribbon {
  position: absolute;
  right: -4px; top: -4px;
  z-index: 1;
  overflow: hidden;
  width: 50px; height: 50px;
  text-align: right;
}
.ribbon span {
  font-size: 8px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 16px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 80px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#B6BAC9 0%, #808080 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 15px; right: -17px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 2px solid #808080;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-top: 2px solid #808080;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 2px solid transparent;
  border-right: 2px solid #808080;
  border-bottom: 2px solid transparent;
  border-top: 2px solid #808080;
}